<% title "Editar Estudiante" %>

<div class="block center">
  <%= render 'form' %>
</div>

<p>
  <%= link_to "Detalles", @student %> |
  <%= link_to "Volver a la lista de estudiantes", students_path %>
</p>
