.single_student_grades {
  -moz-user-select: none;
  -kthml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

td.grade {
  a {
    color: #006;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  
  input {
    float: left;
  }
  
  a.cancel {
    float: right;
    color: #777;
    &:hover {
      text-decoration: underline;
    };
    line-height: 25px;
  }
}

.weighted_average, .graded_percentage {
  font-weight: bold;
}